body {
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

.head {
    background-color: aqua;
    text-align: center
}

.container {
    margin-left: 23%;
    margin-top: 3em;

}

#lista {
  list-style: none;  
  width: 50%;
  height: 59vh;
}

#elementsDuplicates,
#buttons
{
    display: inline-block;
}